*.perspectivev3
*.o
*.a
*.dSYM
*.pbxuser
*.mode1v3
.DS_Store
*~
*.pch
build
vendor/lua/lua
vendor/lua/luac
test/runner*
rubyk
doc/prototypes/test
doc/prototypes/test
examples/send
examples/receive
examples/beatbox
misc/iPhone/oscit/build
vendor/lua_bindings/doc