[submodule "modules/dub"]
	path = modules/dub
	url = git://github.com/lubyk/dub
[submodule "modules/yaml"]
	path = modules/yaml
	url = git://github.com/lubyk/yaml.git
[submodule "modules/xml"]
	path = modules/xml
	url = git://github.com/lubyk/xml.git
