[submodule "modules/dub"]
	path = modules/dub
	url = git://github.com/lubyk/dub
[submodule "modules/yaml"]
	path = modules/yaml
	url = git://github.com/lubyk/yaml.git
[submodule "modules/xml"]
	path = modules/xml
	url = git://github.com/lubyk/xml.git
[submodule "modules/editor"]
	path = modules/editor
	url = git://github.com/lubyk/editor.git
[submodule "modules/gl"]
	path = modules/gl
	url = git://github.com/lubyk/gl.git
[submodule "modules/crypto"]
	path = modules/crypto
	url = git://github.com/lubyk/crypto.git
[submodule "modules/db"]
	path = modules/db
	url = git://github.com/lubyk/db.git
[submodule "modules/lfs"]
	path = modules/lfs
	url = git://github.com/lubyk/lfs.git
[submodule "modules/glut"]
	path = modules/glut
	url = git://github.com/lubyk/glut.git
