[submodule "modules/dub"]
	path = modules/dub
	url = git://github.com/lubyk/dub
[submodule "modules/yaml"]
	path = modules/yaml
	url = git://github.com/lubyk/yaml.git
[submodule "modules/xml"]
	path = modules/xml
	url = git://github.com/lubyk/xml.git
[submodule "modules/editor"]
	path = modules/editor
	url = git://github.com/lubyk/editor.git
[submodule "modules/gl"]
	path = modules/gl
	url = git://github.com/lubyk/gl.git
[submodule "modules/crypto"]
	path = modules/crypto
	url = git://github.com/lubyk/crypto.git
[submodule "modules/db"]
	path = modules/db
	url = git://github.com/lubyk/db.git
[submodule "modules/lfs"]
	path = modules/lfs
	url = git://github.com/lubyk/lfs.git
[submodule "modules/glut"]
	path = modules/glut
	url = git://github.com/lubyk/glut.git
[submodule "modules/midi"]
	path = modules/midi
	url = git://github.com/lubyk/midi.git
[submodule "modules/sqlite3"]
	path = modules/sqlite3
	url = git://github.com/lubyk/sqlite3.git
[submodule "modules/mimas"]
	path = modules/mimas
	url = git://github.com/lubyk/mimas.git
[submodule "modules/wii"]
	path = modules/wii
	url = git://github.com/lubyk/wii.git
[submodule "modules/dummy"]
	path = modules/dummy
	url = git://github.com/lubyk/dummy.git
[submodule "modules/video"]
	path = modules/video
	url = git://github.com/lubyk/video.git
[submodule "modules/cv"]
	path = modules/cv
	url = git://github.com/lubyk/cv.git
[submodule "modules/bit"]
	path = modules/bit
	url = git://github.com/lubyk/bit.git
[submodule "modules/remdebug"]
	path = modules/remdebug
	url = git://github.com/lubyk/remdebug.git
[submodule "modules/luajit"]
	path = modules/luajit
	url = git://github.com/lubyk/luajit.git
[submodule "modules/bt"]
	path = modules/bt
	url = https://github.com/lubyk/bt.git
[submodule "modules/binseq"]
	path = modules/binseq
	url = git://github.com/lubyk/binseq.git
[submodule "modules/four"]
	path = modules/four
	url = git@github.com:lubyk/four.git
