/ideas
*.bak
*.logic
*.perspectivev3
*.o
*.pic_o
*.pc
*.a
*.dSYM
*.pbxuser
*.mode1v3
.DS_Store
._.DS_Store
*~
*.swp
*.swo
*.pch
*.nki
*.aiff
/build
/mbuild
/lbuild
/deploy/linux/lib
/deploy/macosx/Lubyk/lib
/deploy/macosx/Lubyk.dmg
/deploy/macosx/Lubyk_dmg.dmg
/zcpp/doc/prototypes/test
/tmp
/rename.rb
/modules/lua/vendor/lua5.1/src/lua
/modules/lua/vendor/lua5.1/src/luac
/modules/mimas/vendor/glew/bin
/modules/mimas/vendor/glew/lib
/tags
/modules/lk/src/lua/vendor_jit/src/host/buildvm
/modules/lk/src/lua/vendor_jit/src/host/buildvm_arch.h
/modules/lk/src/lua/vendor_jit/src/host/minilua
/modules/lk/src/lua/vendor_jit/src/jit/vmdef.lua
/modules/lk/src/lua/vendor_jit/src/libluajit.so
/modules/lk/src/lua/vendor_jit/src/lj_bcdef.h
/modules/lk/src/lua/vendor_jit/src/lj_ffdef.h
/modules/lk/src/lua/vendor_jit/src/lj_folddef.h
/modules/lk/src/lua/vendor_jit/src/lj_libdef.h
/modules/lk/src/lua/vendor_jit/src/lj_recdef.h
/modules/lk/src/lua/vendor_jit/src/lj_vm.s
/modules/lk/src/lua/vendor_jit/src/luajit
/gh-pages
/doc
