/ideas
*.bak
*.logic
*.perspectivev3
*.o
*.a
*.dSYM
*.pbxuser
*.mode1v3
.DS_Store
*~
*.swp
*.swo
*.pch
*.nki
*.aiff
/build
/deploy/macosx/Lubyk_dmg/Lubyk.app/Contents/Resources/lib
/zcpp/doc/prototypes/test
/tmp
/rename.rb
/lua
